@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
  font-family: "Poppins", sans-serif;
}
.Ubuntu , .Ubuntu h1 , .Ubuntu h2 , .Ubuntu h3 , .Ubuntu h4 , .Ubuntu h5 , .Ubuntu h6 , .Ubuntu p , .Ubuntu span , .Ubuntu a {
  font-family: "Ubuntu", sans-serif !important;
}
.Arimo , .Arimo h1 , .Arimo h2 , .Arimo h3 , .Arimo h4 , .Arimo h5 , .Arimo h6 , .Arimo p , .Arimo span , .Arimo a{
  font-family: "Arimo", sans-serif !important;
}
.Montserrat ,  .Montserrat h1 , .Montserrat h2 , .Montserrat h3 , .Montserrat h4 , .Montserrat h5 , .Montserrat h6 , .Montserrat p , .Montserrat span , .Montserrat a {
  font-family: "Montserrat", sans-serif !important;
}
.Lato ,  .Lato h1 , .Lato h2 , .Lato h3 , .Lato h4 , .Lato h5 , .Lato h6 , .Lato p , .Lato span , .Lato a {
  font-family: "Lato", sans-serif !important;
}
.Georgia ,   .Georgia h1 , .Georgia h2 , .Georgia h3 , .Georgia h4 , .Georgia h5 , .Georgia h6 , .Georgia p , .Georgia span , .Georgia a  {
  font-family: "Georgia", sans-serif !important;
}
.NotoSans ,  .NotoSans h1 , .NotoSans h2 , .NotoSans h3 , .NotoSans h4 , .NotoSans h5 , .NotoSans h6 , .NotoSans p , .NotoSans span , .NotoSans a {
  font-family: "Noto Sans", sans-serif !important;
}
.detail-page {
    background-color: white; 
    color: black; 
    padding: 20px;
    border-radius: 8px;
  
    h2 {
      color: black; 
      margin-bottom: 20px;
    }
  
    form {
      display: grid;
      gap: 15px;
  
      div {
        display: flex;
        flex-direction: column;
  
        label {
          color: black;
          margin-bottom: 5px;
          font-weight: bold;
        }
  
        select, input[type="color"] {
          padding: 10px;
         
          border-radius: 14px;
          background-color: white; 
          color: black; 
  
          &::placeholder {
            color: #aaa; 
          }
        }
  
        input[type="color"] {
          width: 40px;
          height: 40px;
          cursor: pointer;
          border: none;
        }
  
        .color-picker-container {
          display: flex;
          align-items: center;
          flex-direction: row;
          .color-boxes {
            display: flex;
            gap: 10px;
            align-items: center;
            flex-direction: row;
  
            .color-box {
              width: 20px;
              height: 20px;
              border-radius: 4px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              cursor: pointer;
            }
          }
  
          .customize-section {
            display: flex;
            flex-direction: row;
            margin-left: 10px;
            align-items: center;
  
            label {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
  