@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif !important;
}

.detail-page {
    background-color: white; 
    color: black; 
    padding: 20px;
    border-radius: 8px;
  
    h2 {
      color: black; 
      margin-bottom: 20px;
    }
  
    form {
      display: grid;
      gap: 15px;
  
      div {
        display: flex;
        flex-direction: column;
  
        label {
          color: black;
          margin-bottom: 5px;
          font-weight: bold;
        }
  
        select, input[type="color"] {
          padding: 10px;
         
          border-radius: 14px;
          background-color: white; 
          color: black; 
  
          &::placeholder {
            color: #aaa; 
          }
        }
  
        input[type="color"] {
          width: 40px;
          height: 40px;
          cursor: pointer;
          border: none;
        }
  
        .color-picker-container {
          display: flex;
          align-items: center;
          flex-direction: row;
          .color-boxes {
            display: flex;
            gap: 10px;
            align-items: center;
            flex-direction: row;
  
            .color-box {
              width: 20px;
              height: 20px;
              border-radius: 4px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              cursor: pointer;
            }
          }
  
          .customize-section {
            display: flex;
            flex-direction: row;
            margin-left: 10px;
            align-items: center;
  
            label {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
  